
body{
    
   /* background-color: rgb(5, 62, 119);
    
    background-image: url("/Css/leccion06-manejo-fondos/media/img/fondo.png");
    background-repeat: no-repeat;
    background-position: top right;*/
    background-attachment:scroll;
    color: cornsilk;
    background: rgb(5, 62, 119) url("/Css/leccion06-manejo-fondos/media/img/fondo.png") no-repeat;
    width: 1030;
}
h1{
    text-align: center;
    background-color: dodgerblue;
    
}