h1, div, p{
    border: 3px solid blueviolet;
    text-align: center;
    color: cornflowerblue;
    padding: 5px;
    display:block;
    margin-top: 15px;
    margin-right: 5px;
}
span{
    display: block;
}
p{
    visibility: hidden;
}
a{
    display: inline-block;
    border: 1px solid crimson;
}

li{
    display: inline;
}