h1{
    text-align: center;
    color: #e63046;
    text-shadow: 2px 2px 2px #a8dadc;
    
}
div.contenedor{
    height: 300px;
    display: flex;
    background-color: #560bad;
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
    /* flex-flow: row wrap; */
    /* justify-content: center; */
    justify-content:flex-start;
    align-items: flex-start;
     
    align-content: center;
}

div.contenedor > p{
    background-color: #4895ef;
    color: #f1faee;
    margin: 20px;
    padding: 10px;
    font-size: 1.5em;
    /* flex-grow: 1; */
}
div.contenedor >p.medio{
    align-self: center;
}

