h1, h2{
    text-align: center;
    color: #457b9d;
}

div.contenedor{
    width: 30%;
    height: 20%;
    margin: auto;
    border: 3px solid #a8dadc;
    padding: 15px;
    color: #457b9d;
    margin-bottom: 15px;
    text-align: center;
}
div.contenedor:hover{
    background-color: #457b9d;
    color: #f1fabd;
}
div.contenedor.oculto p{
    display: none;
}
div.contenedor.oculto:hover p{
    display: block;
    transition: all 300ms;
    background-color: #a8dadc;
    color: #023e8a;
    padding: 15px;
}
div.contenedor.oculto p:hover{
    background-color: #5fdce0;
    color: beige;
}

div.contenedor.primero p:first-child{
    font-variant: small-caps;
}
div.contenedor1{
    width: 30%;
    height: 20%;
    margin: auto;
    border: 3px solid #a8dadc;
    padding: 15px;
    color: #457b9d;
    margin-bottom: 15px;
    text-align: center;
}

div.contenedor1 p::selection{
    background-color: yellowgreen;
    
    color: #f1fabd;
}

div.contenedor1 p::first-line{
    font-variant: small-caps;
    color: red;
}

div.contenedor1 p::first-letter{
    font-size: 1.5em;
    color: #023e8a;
}

div.contenedor1 p.first::before{
   
    content: url(/leccion18-pseudo-clases-pseudo-elementos/media/planet.svg);
}
div.contenedor1 p::after{
    content: "//";
}
