
h1{
    text-align: center;
    color: crimson;
}
.contenedor{
    position: relative;
    top: 10px;
    left: 48%;
    border: 3px dashed yellowgreen;
    width: 22%;
    
}
.contenedor img{
    
    width: 100%;
    
   
    
    opacity: .2;
    

}
.contenedor h3{
    /*border: 1px solid black;*/
    font-size: 20px;
    position: absolute;
    top: 69px;
    width: 100%;
    
    text-align: center;
}

