

body{
    width: 100%;
   

}
h1{
    color: #ef476f;
    
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 2px 2px #b2ddca;
    letter-spacing:2px ;
    word-spacing: 13px;
    transition: all 300ms;
}
h1:hover{
    letter-spacing: 4px;
    transition: all 900ms;
    text-decoration: overline;
  
}

.caja{
    padding: 15px;
    margin: auto;
    width: 40%;
    background-color: #219ebc;
    border-radius: 5px;
    color: #ffffff;
}
.texto{
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5;
    white-space: normal;
    text-shadow: 1px 1px 3px #ced4da;
}

