h1{
    text-align: center;
}
.rojo{
    border: 5px ridge darkred;
    background-color: firebrick;
}
.rosa{
    border: 5px dashed rgb(255, 20, 147);
    background-color: hotpink;
}
.amarillo{
    border: 5px double #7cfc00 ;
    background-color: gold;
}
.violeta{
    border: 5px outset darkorchid;
    background-color: blueviolet;
}
.verde{
    border: 5px inset darkolivegreen;
    background-color: lime;
}

.azul{
    border: 5px dotted steelblue;
    background-color: turquoise;
}

.rosa, .rojo, .violeta, .azul{
    color: azure;
}