html{
    height: 100%;
}

body{
    margin: 0%;
    padding: 0%;
    background:linear-gradient(#023e8a, #0077b6);
}

.contenido{
    margin-left: 500px;
    width: 400px;
    border: 1px solid #fff;
    margin-top: 50px;
    background: rgba(0, 0, 0,.5);
    padding: 40px;
    border-radius: 10px;

}
.contenido h2{
    color: #48cae4;
    text-align: center;
    font-size: 30px;
    padding: 0 0 30px;
}

.contenido .elemento label{
    color: #fff;

}

.contenido .elemento input{
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff; 
    color: #fff;
}

.contenido .elemento input[type="submit"]{
    background-color: #caf0f8;
    color: #023e8a;
    font-size: 15px;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;

}

