h1{
    text-align: center;
    color: crimson;
}

div{
    margin-bottom: 30px;
}
div.contenedor1{
    width: 400px;
    height: 50px;
    overflow: auto;
    border: 3px dashed blue;
    float: left;
    
}
.contenedor2{
    width: 400px;
    height: 50px;
    overflow: auto;
    border: 3px dashed cornflowerblue;
    float: left;
   
    
}
div.contenedor3{
    clear: both;
    width: 400px;
    height: 50px;
    overflow: auto;
    border: 3px dashed rgb(6, 84, 228);
    margin: auto;
    
}
div.contenedor3.flotado{
    width: 400px;
    height: 50px;
    overflow: auto;
    border: 3px dashed rgb(6, 84, 228);
    float:right;
}