h1{

    color: #264653;
}
p{
    color: #e9c46a;
    background-color: #e76f51;

    /*top-bottom / right-left*/
    padding: 15px 50px;

    /*top- right- bottom- left included*/
    border: 10px solid #264653;

    /*top- right- bottom- left*/
    margin: 20px 10px 50px 60px;

    text-align: center;
    
}
