h1{
    color: #03045e;
}

ul{
    list-style-type: none;
    background-color:#0077b6 ;
    overflow: hidden;
    margin: 0;
    padding: 0px;
    
    
    
    
}
li{
    float: left;
    
    
}

li a{
    display: block;
    color: #caf0f8;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    
}
li a:hover{
    background-color: #023e8a;
    
}